# ─── Entorno ───────────────────────────────────────────────────────────────────
.env

# ─── Maven build output ────────────────────────────────────────────────────────
**/target/
**/*.class
**/*.jar
**/*.war
**/*.ear

# ─── Vaadin build output ───────────────────────────────────────────────────────
**/node_modules/
**/frontend/generated/
**/.pnpm-store/
**/pnpmfile.cjs
**/webpack.config.js
**/webpack.generated.js
**/.vaadin/

# ─── IDE ───────────────────────────────────────────────────────────────────────
.idea/
**/.idea/
*.iml
*.iws
*.ipr
.vscode/
**/.vscode/
*.code-workspace

# ─── OS ────────────────────────────────────────────────────────────────────────
.DS_Store
Thumbs.db

# ─── Logs ──────────────────────────────────────────────────────────────────────
*.log
logs/

# ─── Docker volumes locales ────────────────────────────────────────────────────
docker-volumes/
